body{
    margin-top: 30px;
    text-align: left;
    background-color: bisque;
}
p{
    background-color: aquamarine;
}

.img{
    text-align: center;
}

table{
    background-color: white;
}

h1{
    color: brown;
    font-family: "Courier New";
}